# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Mac
.DS_Store

# Ruby on Rails
*.rbc
.rspec
/public/system
/coverage/
/spec/tmp

# RVM
.rvmrc

# Secrets
config/secrets.yml
