/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

 * {
 	font-family: Open Sans, sans-serif;
 	font-size: 1em;
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 }

 .right {
 	float: right;
 }

 .left {
 	float: left;
 }

 .notification {
 	width: 500px;
 	padding: 15px;
 	margin: 0 auto;
 	text-align: center;
 	border: solid 1px #ccc;
 	background: #eee;
 }

#header {
	color: white;
	margin: 0;
	padding: 1em;
	background: #313131;
	width: 100%;
	height: 75px;
	display: inline-block;
	box-shadow: 0px 0px 5px #555;
}

#nav-bar {
	line-height: 75px;
}

#header a {
	color: white;
}

#header a:hover {
	color: #aaa;
}

#container {
	padding: 1em;
}

#content {
	padding: 1em 0;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
	margin-bottom: 10px;
}

h3 {
	font-size: 1.2em;
}


a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #666;
}

a.button {
	padding: 6px 12px;
	background-color: #ddd;
}

a.button:hover{
	background-color: #eee;
}

input {
	outline: none;
}

input {
	font-size: 0.7rem;
}

/* Pagination */
.pagination {
	padding: 10px 20px;
	font-size: 0.8rem;
}

.pagination .disabled {
	color: #ddd;
}

/* Table */
table {
	font-size: 0.8em;
	margin: 0 auto;
	border-collapse: collapse;
  text-align: center;
}

th, td {
	border-bottom: solid 1px;
	border-color: #eee;
	padding: 5px;
}

td.center {
	text-align: center;
}

/* Form */
.input-form {
	width: 340px;
	margin: 0 auto;
}

.input-form span {
	font-size: 12px;
	color: darkgray;
}

.input-form fieldset {
	border: none;
	margin: 0;
	padding: 10px 0;
}

.input-form label {
	text-align: right;
	display: inline-block;
	vertical-align: middle;
	width: 100px;
	margin-right: 1em;
}

.input-form input {
	width: 180px;
	padding: 4px 5px;
	vertical-align: middle;
	border: none;
	border-bottom: solid 1px #ccc;
}

.input-form .field_with_errors {
	display: inline-block;
}

.input-form .field_with_errors input {
	border-bottom: solid 1px red;
}

.input-form input[type=submit] {
	width: auto;
	padding: 6px 12px;
	cursor: pointer;
}

.input-form .task_progress_input[type=range] {
	width: 130px;
}

.input-form .task_progress_input[type=number] {
	width: 40px;
}

.input-form .input-group {
	margin-bottom: 15px;
}

.input-controls {
	width: 100%;
	text-align: center;
}